<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="XMLConfigTest">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>
  
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p - [%L] %c - %m\n"/>
    </Console>
    <Console name="FLOW">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p - [%L] %c - %m\n" />
      <filters>
        <MarkerFilter marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <MarkerFilter marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
      </filters>
    </Console>
    <File name="File" fileName="${filename}">
      <PatternLayout>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p - [%L] %c - %m\n</pattern>
      </PatternLayout>
    </File>
  </Appenders>
 
  <Loggers>
    <Logger name="EmployeeController" level="debug" additivity="false">
      <AppenderRef ref="File" level="debug" />
      <AppenderRef ref="STDOUT" level="info" />
    </Logger>
 
    <Logger name="CompanyController" level="debug" additivity="false">
      <AppenderRef ref="File" level="debug" />
      <AppenderRef ref="STDOUT" level="info" />
    </Logger>
  </Loggers>
 
</Configuration>
